data/*
!data/trains.json
!data/stations.json
!data/schedules.json
!data/utils/
!data/utils/*

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Unreal
environment/Binaries/
environment/DerivedDataCache/
environment/Intermediate/
environment/Saved/
environment/.vs/

# misc
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.ropeproject
.vscode/
.ruff_cache/
