data/*
!data/trains.json
!data/stations.json
!data/schedules.json

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]ser[Ss]ettings/
[Rr]ecordings/
[Aa]ssets/Plugins/Editor/JetBrains*
.gradle/
[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
[Aa]ssets/[Ss]treamingAssets/aa.meta
[Aa]ssets/[Ss]treamingAssets/aa/*

ExportedObj/
.consulo/

*.pidb
*.booproj
*.svd
*.userprefs
*.csproj
*.sln
*.suo
*.tmp
*.user
*.pidb.meta
*.booproj.meta
*.svd.meta
*.unityproj
*.unityproj.meta
*.sln.meta
*.suo.meta
*.tmp.meta
*.user.meta
*.userprefs.meta

*.pdb
*.mdb
*.opendb
*.VC.db

*.pdb.meta
*.mdb.meta

sysinfo.txt

*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

crashlytics-build.properties

# misc
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.ropeproject
.vscode/
.ruff_cache/
.env